if: (tag IS present) OR (type = pull_request)
language: android
sudo: required
dist: trusty
env:
  global:
    - ANDROID_API_LEVEL=28
    - ANDROID_BUILD_TOOLS_VERSION=28.0.3
    - ANDROID_ABI=arm64-v8a
    - secure: jPGFNM9lFZHOpAyJD5Ba7szJ4btHew4edjUUeVeqY3geiZdPbJXYa/CaVw3Yaie5P/oapxUGxWqjQIEOnzeH+wcrqo7KqpAjpSnNJ1sZd6ZNA1rHCta3slveSvJaNV3+FrAYKNHkzswJMbiJjlhQHOr9RCbhwovIk9YEtmsc8Vdv551BCGVd4uuKnGFPeoepMnzwV5l4PnlcIP5h+/eJwrYTk6Xst0zcCPlJ3TmTMpOmLZ5KOuJ83xwq3jZGEDgOAeRfZe7hYtUmC6xEbgNqYG6CA5vCWDBydni3KzMXo2JSrJf79ND6wnyh+gxNUlb2LMAPYgAKPuhFKswjMirpvYjB8KE/l7NzArHhC4LlKwJLEL0L7g/sTV4uR5EYsbWcFB5+m2G7boM/Z3eQqHG1GoCIT7Q9977MC7Taabblj0oe6PU7uN+wJfCjf5cFOhNRyOUo5UQBhoY91Lab5CY++ItG86JzbzW9NfFEZU5Lhf5zy4G1K0//sI741hLF7U+mcBNs43SRuIDYbcPhxDepW1o04sdeiq9FKD+H7ubiUTy6EyebK8y33E3+ftMhZ3pZW952YvhiMbwk00gDjwIWe5+b1Y34ZFZVI/S2mBS157mR/AOZGlaSDixI6hCN99i1sY9ca30LjPSq2/gWowTE5Fq/pmbZVhs1zhsl3SB0xf0=
    - secure: HPJUkDZ26zf+QO4tHdDCWbsGQrUClGTFysxoE/n+5udJIdkXnR2vNae54lR9tM7gsjYheMnrZ/MqLqZSwEUncgc2sov9GfHhj0KUbTWm71omG0LOZhrPXYsHlzHQFQT/nRXL9i4wN9OF44BJi7CnLY66zbL5KEA2FgmoKrpE7M1kEaCOVcyeaKTLAxOdTh7zTOSXGOOcYxuNKIkkaCjg9I1PineUVsnl0xOs1sf62AKUyEL1qKMh7OrjNSkpf2tCnOX/znSnPdjYDq8tq3QItpXPaOviSZ9HVdEjdFzcGdbOYrj0b2euM9CgjpcrIkFWukpY6MCqbWoKxDXczIU0IWp3cEakQ7+wgS8K9wAe+R34FL/jTa3CF/sbx6AkzGK3u07CmLf/93lQus8N1L4an7Pr05A6GUtH7FPYJGfRnWshqFh0Ue2gGkiFPt6I9f3eYEWT2QqpBpL9DSLhVycma0s55DINUHIaCyRPRwYTvOu/q9HnsQrn61dHdM7DMbgEJjA+jLXSGgEnZ+yg/0nKUPW5TBxgzBU35+IxAz+r6q3+kH9bhaDSnbJqWduP/rrOOFtym1zkCnHysl4z2yJ10Y6+w2GAkGQ9bdD3moOtnqy0LnG60jQDdOJywbGCPef18Zup+BVFaaxIbkJkfV+oH34lpKcriWknnimiyOMYEno=
before_install:
  - openssl aes-256-cbc -K $encrypted_83a37975ea22_key -iv $encrypted_83a37975ea22_iv
    -in keystore.jks.enc -out keystore.jks -d
  - touch $HOME/.android/repositories.cfg
  - yes | sdkmanager "platforms;android-28"
  - yes | sdkmanager "build-tools;28.0.3"
install:
  - echo y | sdkmanager "ndk-bundle"
  - echo y | sdkmanager "lldb;3.1"
  - wget --no-check-certificate "https://cmake.org/files/v3.10/cmake-3.10.2-Linux-x86_64.tar.gz"
  - tar -xzf cmake-3.10.2-Linux-x86_64.tar.gz
  - wget --no-check-certificate https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-linux.zip
  - unzip ninja-linux.zip
  - mv ninja cmake-3.10.2-Linux-x86_64/bin
android:
  components:
    - tools
    - platform-tools
    - tools
    - extra-android-m2repository
  licenses:
    - android-sdk-preview-license-52d11cd2
    - android-sdk-license-.+
    - google-gdk-license-.+
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
    - "$HOME/.android/build-cache"
before_script:
  - export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle
  - chmod +x gradlew
script:
  - echo cmake.dir=$PWD/cmake-3.10.2-Linux-x86_64 >> local.properties
  - cat local.properties
  - if [ tag IS present ]; then ./gradlew assembleRelease; else ./gradlew clean; fi
deploy:
  provider: releases
  api_key:
    secure: RldnfyiYI35DbRmHX86AVXTIbSet6krJA3AQqjF+aSMaE2+S+FIlAVAstQb2oFDAE/uHqOpod/D9lCgUwHdlgi3KVI5diMGV/HBU8iCtsAlIrID3AF9t9xPv/E9HS79fJ5fzdtKKR/XbqXzRKowrrjPOJ8Zb/Dh3AC3wAjJoNrBj1Jxje6/QCGnGwuF500OM8n9l9FeH7Ie4BRU+F8sUiW5xeaztuqUSFk4lQ9fb0KJLVEfWTxXpWPo14IElfpNmE2PhHOr2WEs49CjA8NJG04SKzQt2Z9Wp7v6lDsY9+TEgGYvBaeh3Ai9GJxlsFiWaivgek+aXet8rHkJuiHsJT65TufINDYkZqysKVxX7gJVM6XCsYSWakwPgvJqCuCLBEYgqDlmubjbBNr+sts0IbzFC7zPmfunW8WuQTZfygg5MykoTi7CdJI5M4SVcHsfcdx9JqrkEFqsC7UcLvcdG1p2B7K6PlVkkaYhIO8DiBShiAeD3GWbRFBiXPvid/mEwo2/eMk/ecQbxRos7LbJuV+iDMX0yqv1Cr0pu4lMO8t021Fmyv82CQGnUnsBvnvaiq/YfVy5oQNQkkzAN+yzFMDJiXkWsk786Cj21oMfKbUhS7TDwmoKnUTINoWGSsp33y6U616hLgYr1tqVW47PC9biNX/dU994Ewit+4jr8wpQ=
  file: app/build/outputs/apk/release/*
  file_glob: true
  skip_cleanup: true
  overwrite: true
  draft: true
  on:
    repo: SanojPunchihewa/f5n
    branch: master
    tags: true