<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobilegenomics.genopo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.mobilegenomics.genopo.Application"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.mobilegenomics.genopo.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.mobilegenomics.genopo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobilegenomics.genopo.activity.PipelineActivity"
            android:label="Select Steps" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.StepActivity"
            android:label="Configure tool GUI Mode" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.ConfirmationActivity"
            android:label="Pipeline Execution" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.DownloadActivity"
            android:label="Download and Extract" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.MinITActivity"
            android:label="Connect to F5N Server" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.TerminalActivity"
            android:label="Configure tool Terminal Mode" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.HelpActivity"
            android:label="Help" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.TutorialActivity"
            android:label="How To" />

        <activity
            android:name="com.mobilegenomics.genopo.activity.DemoActivity"
            android:label="Demo Mode" />
        <activity
            android:name="com.mobilegenomics.genopo.activity.ChoosePipelineActivity"
            android:label="Choose a Pipeline" />
        <activity
            android:name="com.mobilegenomics.genopo.activity.ArticPipelineActivity"
            android:label="Artic Pipeline" />
    </application>

</manifest>